In [1]:
import warnings
import pandas as pd
from pathlib import Path

In [2]:
# File Path
school_metrics_data_to_load = Path("SPREE_SY2223_School_Metric_Scores (1).csv")

# Read Hospital General, Score, and Location Data File and store into Pandas DataFrames
school_metrics_data = pd.read_csv(school_metrics_data_to_load)

In [3]:
school_metrics_data.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
0,2022-2023,1010,John Bartram High School,High School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1,2022-2023,1010,John Bartram High School,High School,% of Students Attending Less Than 80% of Instr...,292.0,617.0,47.3,NaN,NaN,NaN
2,2022-2023,1010,John Bartram High School,High School,% of Students Attending 80-85% of Instructiona...,51.0,617.0,8.3,NaN,NaN,NaN
3,2022-2023,1010,John Bartram High School,High School,% of Students Attending 85-90% of Instructiona...,66.0,617.0,10.7,NaN,NaN,NaN
4,2022-2023,1010,John Bartram High School,High School,% of Students Attending at Least 90% of Instru...,208.0,617.0,33.7,33.8,-0.1,Maintaining

In [4]:
school_metrics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83980 entries, 0 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  83980 non-null  object
 1   school_id            83980 non-null  int64
 2   school_name          83980 non-null  object
 3   report_type          83980 non-null  object
 4   metric               83980 non-null  object
 5   numerator            20464 non-null  float64
 6   denominator          17254 non-null  float64
 7   metric_score         83980 non-null  object
 8   score_previous       71701 non-null  object
 9   score_change         71706 non-null  object
 10  tier                 11507 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 7.0+ MB

In [5]:
#Calculate the number of schools
schools_count = school_metrics_data['school_id'].nunique()
print("Number of unique schools:",schools_count)

# List the unique school ids
unique_ids = school_metrics_data['school_id'].unique()
# print("Number of unique schools:",unique_ids)

Number of unique schools: 294

In [6]:
#Calculate the number of school names
school_name_count = school_metrics_data['school_name'].nunique()
print("Number of unique schools:",school_name_count)

# List the unique school names
unique_names = school_metrics_data['school_name'].unique()
# print("Number of unique schools:",unique_names)

Number of unique schools: 294

In [7]:
#Calculate the number of unique metrics
metrics_count=school_metrics_data['metric'].nunique()
print("Number of unique metrics:",metrics_count)

# List the unique metrics
unique_metrics = school_metrics_data['metric'].unique()
# print("Unique metrics:", unique_metrics)

Number of unique metrics: 260

In [8]:
#Calculate the number of Report Types
report_types_count = school_metrics_data['report_type'].nunique()
print("Number of report types:",report_types_count)

# List the Report Types
unique_reports = school_metrics_data['report_type'].unique()
print("Report Types:", unique_reports)

Number of report types: 4
Report Types: ['High School' 'Middle School' 'K-8 School' 'Elementary School']

In [13]:
# Identify duplicates based on 'school_id' and 'metric'
duplicates = school_metrics_data[school_metrics_data.duplicated(subset=['school_id', 'metric'], keep=False)]

duplicate_school_count = duplicates['school_name'].nunique()
print("Number of unique schools:", duplicate_school_count)

duplicate_schools = duplicates['school_name'].unique()
# print("Number of unique schools:", duplicate_schools)

Number of unique schools: 29

In [46]:
# Create the 'High School' 'Middle School' 'K-8 School' 'Elementary School' dataframes
high_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'High School']
middle_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'Middle School']
ktoeight_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'K-8 School']
elementary_school_metrics_df = school_metrics_data.loc[school_metrics_data['report_type'] == 'Elementary School']

# Check for duplicates
high_school_duplicates = high_school_metrics_df[high_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_high_school_count = high_school_duplicates['school_name'].nunique()
middle_school_duplicates = middle_school_metrics_df[middle_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_middle_school_count = middle_school_duplicates['school_name'].nunique()
ktoeight_school_duplicates = ktoeight_school_metrics_df[ktoeight_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_ktoeight_school_count = ktoeight_school_duplicates['school_name'].nunique()
elementary_school_duplicates = elementary_school_metrics_df[elementary_school_metrics_df.duplicated(subset=['school_id', 'metric'], keep=False)]
duplicate_elementary_school_count = elementary_school_duplicates['school_name'].nunique()

print("Number of duplicate High Schools:", duplicate_high_school_count)
print('-' * 40)
print("Number of duplicate Middle Schools:", duplicate_middle_school_count)
print('-' * 40)
print("Number of duplicate K-8 Schools:", duplicate_ktoeight_school_count)
print('-' * 40)
print("Number of duplicate Elementary Schools:", duplicate_elementary_school_count)

Number of duplicate High Schools: 0
----------------------------------------
Number of duplicate Middle Schools: 0
----------------------------------------
Number of duplicate K-8 Schools: 0
----------------------------------------
Number of duplicate Elementary Schools: 0

In [48]:
#Calculate the number of school names
high_school_count = high_school_metrics_df['school_name'].nunique()
middle_school_count = middle_school_metrics_df['school_name'].nunique()
ktoeight_school_count = ktoeight_school_metrics_df['school_name'].nunique()
elementary_school_count = elementary_school_metrics_df['school_name'].nunique()

print("Number of High Schools:", high_school_count)
high_school_metrics_df.info()
print('-' * 60)
print("Number of Middle Schools:", middle_school_count)
middle_school_metrics_df.info()
print('-' * 60)
print("Number of K-8 Schools:", ktoeight_school_count)
ktoeight_school_metrics_df.info()
print('-' * 60)
print("Number of Elementary Schools:", elementary_school_count)
elementary_school_metrics_df.info()
print('-' * 60)
all_schools = high_school_count + middle_school_count + ktoeight_school_count + elementary_school_count
print("Number of Schools:", all_schools)

Number of High Schools: 84
<class 'pandas.core.frame.DataFrame'>
Index: 21840 entries, 0 to 83719
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  21840 non-null  object
 1   school_id            21840 non-null  int64
 2   school_name          21840 non-null  object
 3   report_type          21840 non-null  object
 4   metric               21840 non-null  object
 5   numerator            4719 non-null   float64
 6   denominator          3879 non-null   float64
 7   metric_score         21840 non-null  object
 8   score_previous       18647 non-null  object
 9   score_change         18648 non-null  object
 10  tier                 1158 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 2.0+ MB
------------------------------------------------------------
Number of Middle Schools: 29
<class 'pandas.core.frame.DataFrame'>
Index: 7540 entries, 1300 to 77739
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  7540 non-null   object
 1   school_id            7540 non-null   int64
 2   school_name          7540 non-null   object
 3   report_type          7540 non-null   object
 4   metric               7540 non-null   object
 5   numerator            1574 non-null   float64
 6   denominator          1284 non-null   float64
 7   metric_score         7540 non-null   object
 8   score_previous       6437 non-null   object
 9   score_change         6438 non-null   object
 10  tier                 927 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 706.9+ KB
------------------------------------------------------------
Number of K-8 Schools: 154
<class 'pandas.core.frame.DataFrame'>
Index: 40040 entries, 1820 to 83979
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  40040 non-null  object
 1   school_id            40040 non-null  int64
 2   school_name          40040 non-null  object
 3   report_type          40040 non-null  object
 4   metric               40040 non-null  object
 5   numerator            10476 non-null  float64
 6   denominator          8956 non-null   float64
 7   metric_score         40040 non-null  object
 8   score_previous       34185 non-null  object
 9   score_change         34188 non-null  object
 10  tier                 7009 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 3.7+ MB
------------------------------------------------------------
Number of Elementary Schools: 56
<class 'pandas.core.frame.DataFrame'>
Index: 14560 entries, 2340 to 82939
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   accountability_year  14560 non-null  object
 1   school_id            14560 non-null  int64
 2   school_name          14560 non-null  object
 3   report_type          14560 non-null  object
 4   metric               14560 non-null  object
 5   numerator            3695 non-null   float64
 6   denominator          3135 non-null   float64
 7   metric_score         14560 non-null  object
 8   score_previous       12432 non-null  object
 9   score_change         12432 non-null  object
 10  tier                 2413 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 1.3+ MB
------------------------------------------------------------
Number of Schools: 323

In [44]:
high_school_metrics_df.head()

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
0,2022-2023,1010,John Bartram High School,High School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1,2022-2023,1010,John Bartram High School,High School,% of Students Attending Less Than 80% of Instr...,292.0,617.0,47.3,NaN,NaN,NaN
2,2022-2023,1010,John Bartram High School,High School,% of Students Attending 80-85% of Instructiona...,51.0,617.0,8.3,NaN,NaN,NaN
3,2022-2023,1010,John Bartram High School,High School,% of Students Attending 85-90% of Instructiona...,66.0,617.0,10.7,NaN,NaN,NaN
4,2022-2023,1010,John Bartram High School,High School,% of Students Attending at Least 90% of Instru...,208.0,617.0,33.7,33.8,-0.1,Maintaining

In [ ]:
metrics_to_drop = ['PSSA ELA: % of Students Below Basic, Grades 3-8'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  American Indian/Alaskan Native'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Asian'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Black/African American'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Economically Disadvantaged'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  English Learners'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Hispanic/Latino'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Multiracial'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  Special Education'
 'PSSA ELA: % of Students Below Basic, Grades 3-8,  White'
 'PSSA ELA: % of Students Below Basic, Grade 3'
 'PSSA ELA: % of Students Below Basic, Grade 3,  American Indian/Alaskan Native'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Asian'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Black/African American'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Economically Disadvantaged'
 'PSSA ELA: % of Students Below Basic, Grade 3,  English Learners'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Hispanic/Latino'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Multiracial'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Below Basic, Grade 3,  Special Education'
 'PSSA ELA: % of Students Below Basic, Grade 3,  White'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, American Indian/Alaskan Native'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Asian'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Black/African American'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Economically Disadvantaged'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, English Learners'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Hispanic/Latino'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Multiracial'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, Special Education'
 'PSSA ELA: % of Students Proficient or Advanced, Grades 3-8, White'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, American Indian/Alaskan Native'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Asian'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Black/African American'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Economically Disadvantaged'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, English Learners'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Hispanic/Latino'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Multiracial'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Native Hawaiian/Pacific Islander'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, Special Education'
 'PSSA ELA: % of Students Proficient or Advanced, Grade 3, White'
 'PSSA Math: % of Students Below Basic, Grades 3-8'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  American Indian/Alaskan Native'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Asian'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Black/African American'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Economically Disadvantaged'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  English Learners'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Hispanic/Latino'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Multiracial'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  Special Education'
 'PSSA Math: % of Students Below Basic, Grades 3-8,  White'
 'PSSA Math: % of Students Below Basic, Grade 3'
 'PSSA Math: % of Students Below Basic, Grade 3,  American Indian/Alaskan Native'
 'PSSA Math: % of Students Below Basic, Grade 3,  Asian'
 'PSSA Math: % of Students Below Basic, Grade 3,  Black/African American'
 'PSSA Math: % of Students Below Basic, Grade 3,  Economically Disadvantaged'
 'PSSA Math: % of Students Below Basic, Grade 3,  English Learners'
 'PSSA Math: % of Students Below Basic, Grade 3,  Hispanic/Latino'
 'PSSA Math: % of Students Below Basic, Grade 3,  Multiracial'
 'PSSA Math: % of Students Below Basic, Grade 3,  Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Below Basic, Grade 3,  Special Education'
 'PSSA Math: % of Students Below Basic, Grade 3,  White'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, American Indian/Alaskan Native'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Asian'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Black/African American'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Economically Disadvantaged'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, English Learners'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Hispanic/Latino'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Multiracial'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, Special Education'
 'PSSA Math: % of Students Proficient or Advanced, Grades 3-8, White'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  American Indian/Alaskan Native'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Asian'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Black/African American'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Economically Disadvantaged'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  English Learners'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Hispanic/Latino'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Multiracial'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Native Hawaiian/Pacific Islander'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  Special Education'
 'PSSA Math: % of Students Proficient or Advanced, Grade 3,  White'
 'PSSA Science: % of Students Below Basic, Grades 4-8'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  American Indian/Alaskan Native'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Asian'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Black/African American'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Economically Disadvantaged'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  English Learners'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Hispanic/Latino'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Multiracial'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Native Hawaiian/Pacific Islander'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  Special Education'
 'PSSA Science: % of Students Below Basic, Grades 4-8,  White'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  American Indian/Alaskan Native'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Asian'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Black/African American'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Economically Disadvantaged'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  English Learners'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Hispanic/Latino'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Multiracial'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Native Hawaiian/Pacific Islander'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  Special Education'
 'PSSA Science: % of Students Proficient or Advanced, Grades 4-8,  White']

In [34]:
middle_school_metrics_df

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
1300,2022-2023,1130,William T. Tilden School,Middle School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1301,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending Less Than 80% of Instr...,47.0,404.0,11.6,NaN,NaN,NaN
1302,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending 80-85% of Instructiona...,22.0,404.0,5.5,NaN,NaN,NaN
1303,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending 85-90% of Instructiona...,55.0,404.0,13.6,NaN,NaN,NaN
1304,2022-2023,1130,William T. Tilden School,Middle School,% of Students Attending at Least 90% of Instru...,280.0,404.0,69.3,50.5,18.8,Improving
...,...,...,...,...,...,...,...,...,...,...,...
77735,2022-2023,8160,Baldi School,Middle School,PSSA Science: % of Students Proficient or Adva...,95.0,160.0,59.4,49.4,10,Improving
77736,2022-2023,8160,Baldi School,Middle School,% of Teachers Rated as Distinguished,21.0,76.0,27.6,34.2,-6.6,NaN
77737,2022-2023,8160,Baldi School,Middle School,% of Teachers Rated as Proficient,54.0,76.0,71.1,65.8,5.3,NaN
77738,2022-2023,8160,Baldi School,Middle School,% of Teachers Attending at Least 90% of Instru...,78.0,92.0,84.8,81.7,3.1,Improving
77739,2022-2023,8160,Baldi School,Middle School,Year-to-Year Teacher Retention,84.0,94.0,89.4,89.6,-0.2,NaN

In [35]:
ktoeight_school_metrics_df

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
1820,2022-2023,1200,John Barry School,K-8 School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
1821,2022-2023,1200,John Barry School,K-8 School,% of Students Attending Less Than 80% of Instr...,205.0,602.0,34.1,NaN,NaN,NaN
1822,2022-2023,1200,John Barry School,K-8 School,% of Students Attending 80-85% of Instructiona...,78.0,602.0,13,NaN,NaN,NaN
1823,2022-2023,1200,John Barry School,K-8 School,% of Students Attending 85-90% of Instructiona...,93.0,602.0,15.5,NaN,NaN,NaN
1824,2022-2023,1200,John Barry School,K-8 School,% of Students Attending at Least 90% of Instru...,226.0,602.0,37.5,27,10.5,Improving
...,...,...,...,...,...,...,...,...,...,...,...
83975,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,PSSA Science: % of Students Proficient or Adva...,NaN,NaN,Insufficient Sample,Not Applicable,Not Applicable,NaN
83976,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,% of Teachers Rated as Distinguished,NaN,NaN,Insufficient Sample,Insufficient Sample,Not Applicable,NaN
83977,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,% of Teachers Rated as Proficient,NaN,NaN,Insufficient Sample,Insufficient Sample,Not Applicable,NaN
83978,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,% of Teachers Attending at Least 90% of Instru...,13.0,17.0,76.5,85.7,-9.2,Not Improving
83979,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,Year-to-Year Teacher Retention,NaN,NaN,Insufficient Sample,Insufficient Sample,Not Applicable,NaN

In [36]:
elementary_school_metrics_df

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
2340,2022-2023,1250,Joseph W. Catharine School,Elementary School,Admission Type,NaN,NaN,Catchment,Neighborhood,Not Applicable,NaN
2341,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending Less Than 80% of Instr...,60.0,447.0,13.4,NaN,NaN,NaN
2342,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending 80-85% of Instructiona...,27.0,447.0,6,NaN,NaN,NaN
2343,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending 85-90% of Instructiona...,62.0,447.0,13.9,NaN,NaN,NaN
2344,2022-2023,1250,Joseph W. Catharine School,Elementary School,% of Students Attending at Least 90% of Instru...,298.0,447.0,66.7,56.1,10.6,Improving
...,...,...,...,...,...,...,...,...,...,...,...
82935,2022-2023,8440,William H. Loesche School,Elementary School,PSSA Science: % of Students Proficient or Adva...,32.0,62.0,51.6,68.7,-17.1,Not Improving
82936,2022-2023,8440,William H. Loesche School,Elementary School,% of Teachers Rated as Distinguished,9.0,64.0,14.1,15.3,-1.2,NaN
82937,2022-2023,8440,William H. Loesche School,Elementary School,% of Teachers Rated as Proficient,55.0,64.0,85.9,84.8,1.1,NaN
82938,2022-2023,8440,William H. Loesche School,Elementary School,% of Teachers Attending at Least 90% of Instru...,59.0,73.0,80.8,79.1,1.7,Improving
82939,2022-2023,8440,William H. Loesche School,Elementary School,Year-to-Year Teacher Retention,65.0,71.0,91.6,94.1,-2.6,NaN

In [36]:
# Create an attendence dataframe


# Metrics to pivot
selected_metrics = ['% of Students Attending at Least 90% of Instructional Days', 
                    '% of Students Attending Less Than 80% of Instructional Days', 
                    '% of Students Attending 80-85% of Instructional Days', 
                    '% of Students Attending 85-90% of Instructional Days', 
                    '% of Students Attending 90-95% of Instructional Days', 
                    '% of Students Attending at Least 95% of Instructional Days', 
                    'Number of Dropouts - Last School of Touch (Grades 7-12)'
                   ]

# Aggregate the data to ensure unique combinations of school_id and metric
aggregated_data = school_metrics_data[school_metrics_data['metric'].isin(selected_metrics)].groupby(['school_id', 'metric'], as_index=False).agg({'numerator': 'mean'})

# Pivot the DataFrame
attendence_df = aggregated_data[aggregated_data['metric'].isin(selected_metrics)].pivot(index='school_id', columns='metric', values='numerator').reset_index()

# Rename columns if necessary
attendence_df.columns.name = None

attendence_df

,school_id,% of Students Attending 80-85% of Instructional Days,% of Students Attending 85-90% of Instructional Days,% of Students Attending 90-95% of Instructional Days,% of Students Attending Less Than 80% of Instructional Days,% of Students Attending at Least 90% of Instructional Days,% of Students Attending at Least 95% of Instructional Days,Number of Dropouts - Last School of Touch (Grades 7-12)
0,1010,51.0,66.0,76.0,292.0,208.0,132.0,NaN
1,1020,73.0,104.0,94.0,247.0,184.0,90.0,NaN
2,1030,55.0,119.0,152.0,153.0,251.0,99.0,NaN
3,1050,28.0,55.0,96.0,27.0,231.0,135.0,NaN
4,1100,66.0,77.0,82.0,157.0,174.0,92.0,NaN
...,...,...,...,...,...,...,...,...
289,8430,22.0,60.0,222.0,13.0,806.0,584.0,NaN
290,8440,49.0,111.0,329.0,44.0,926.0,597.0,NaN
291,8560,12.0,20.0,31.0,12.0,160.0,129.0,NaN
292,8770,45.0,91.0,236.0,57.0,573.0,337.0,NaN
293,8780,24.5,30.5,58.5,63.5,417.5,359.0,NaN

In [37]:
duplicates

,accountability_year,school_id,school_name,report_type,metric,numerator,denominator,metric_score,score_previous,score_change,tier
8320,2022-2023,2140,Julia R. Masterman School,High School,Admission Type,NaN,NaN,Criteria-Based,Criteria-Based,Not Applicable,NaN
8321,2022-2023,2140,Julia R. Masterman School,High School,% of Students Attending Less Than 80% of Instr...,7.0,460.0,1.5,NaN,NaN,NaN
8322,2022-2023,2140,Julia R. Masterman School,High School,% of Students Attending 80-85% of Instructiona...,5.0,460.0,1.1,NaN,NaN,NaN
8323,2022-2023,2140,Julia R. Masterman School,High School,% of Students Attending 85-90% of Instructiona...,9.0,460.0,2,NaN,NaN,NaN
8324,2022-2023,2140,Julia R. Masterman School,High School,% of Students Attending at Least 90% of Instru...,439.0,460.0,95.4,96.5,-1.1,Not Improving
...,...,...,...,...,...,...,...,...,...,...,...
83975,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,PSSA Science: % of Students Proficient or Adva...,NaN,NaN,Insufficient Sample,Not Applicable,Not Applicable,NaN
83976,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,% of Teachers Rated as Distinguished,NaN,NaN,Insufficient Sample,Insufficient Sample,Not Applicable,NaN
83977,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,% of Teachers Rated as Proficient,NaN,NaN,Insufficient Sample,Insufficient Sample,Not Applicable,NaN
83978,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,% of Teachers Attending at Least 90% of Instru...,13.0,17.0,76.5,85.7,-9.2,Not Improving
83979,2022-2023,8780,Philadelphia Virtual Academy,K-8 School,Year-to-Year Teacher Retention,NaN,NaN,Insufficient Sample,Insufficient Sample,Not Applicable,NaN